.dashboardContainer {
  /* background: rgb(236, 21, 21); */
  margin-left: 200px;
  padding: 16px;
  transition: 0.8s;
}
.collapsedDashboardContainer {
  margin-left: 30px;
}
.dashboardContainer .innerWrapCard {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.dashboardContainer .innerWrapTwo {
  margin-top: 20px;
  padding: 5px;
}
.innerWrapTwo .pie {
  /* margin: 5vmin auto; */
  border-radius: 50%;
  width: 40vmin;
  height: 40vmin;
  overflow: hidden;
  background: linear-gradient(-21deg, #2196f3 50%, transparent 50%),
    linear-gradient(to right, #2196f3 50%, #ffc107 50%);
    margin-left: 2rem;
}

@media only screen and (max-width: 768px) {
  .dashboardContainer {
    margin-left: 70px;
  }
}
